@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}



html{
    min-height: 100vh;
    background: url(/image/full-bg-01.jpg);
    background-size: cover;
}


.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 40px;
    overflow: hidden;
}

.nav-links a {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.burger {
    display: none;
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
    text-shadow: 0 0 10px #000000;
}

.delivery-link {
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 70px;
    justify-content: space-between;
    overflow: hidden;
}

.scroll-text {
    color: white;
    position: relative;
    transition: transform 0.4s;
}

.scroll-text::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.scroll-text:hover {
    transform: translateY(-100%);
}

.scroll-icon {
    font-size: 25px;
    color: white;
}

.delivery-container {
    min-height: 300px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delivery-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.delivery-container .box-content {
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    width: 220px;
    text-align: center;
}

.best-sales-container {
    min-height: 80vh;
    background: white;
    padding: 0 100px;
}

.section-title {
    position: relative;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #ADD981;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.best-Legume {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.Legume1 {
    background: url(/image/sandwichchampignon.jpg);
}

.Legume2 {
    background: url(/image/smoothiepeche.jpg);
}

.Legume3 {
    background: url(/image/juscarotte.jfif);
}

.Legume4 {
    background: url(/image/R904549babe0076d94e339fc4954ad7b4.png);
}

.Legume-box::before {
    content: "En savoir plus";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#ADD981;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
}

.Legume-box:hover::before {
    left: 0;
}

.Legume-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #FFFFFFDF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.Legume-name {
    font-weight: 500;
    font-size: 30px;
}

.Legume-price {
    font-weight: 300;
    font-size: 15px;
}

.Legume-container {
    padding: 0 100px;
    min-height: 150vh;
    margin-top: 50px;
}

.grid-Legume {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.Legume-grid1 {
    background: url(/image/Rc5f8c277a61e769f089740f9f59e2dbb.jfif);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.Legume-grid2 {
    background: url(/image/peches_sac_2.jpg);
    grid-column: 3 / 5;
}

.Legume-grid3 {
    background: url(/image/Cerises1_Silver-john-stock.adobe_.com-800.jpg);
    grid-column: 3 / 5;
}

.Legume-grid4 {
    background: url(/image/R98f669edec8e154d367186212b9bc57e.jfif);
    grid-column: 1;
    grid-row: 3 / 5;
}

.Legume-grid5 {
    background: url(/image/Watermelon.jfif);
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.Legume-grid6 {
    background: url(/image/Corn.jfif);
    grid-column: 4;
    grid-row: 3 / 5;
}

.Legume-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
}

.no-grid {
    height: 500px;
    flex: 1;
    min-width: 350px;
}

.footer {
    color: white;
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.copyrights {
    color: white;
    padding-right: 20px;
}

.conditions {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 1150px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
            bottom 0.4s,
            background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
            top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav1{      
          text-shadow: 0 0 15px #000000;

    }

    .nav2{
        text-shadow: 0 0 15px #000000;

    }

    .nav3{
        text-shadow: 0 0 15px #000000;
    }
    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        background: white;
        left: 0;
        top: -50vh;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 30px;
    }

    .delivery-container {
        
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }

    .delivery-container div {
        margin: 30px;
    }

    .grid-Legume {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid {
        flex: 1;
        min-width: 350px;
        height: 500px;
    }
}

@media (max-width: 550px) {

    .logo {
        width: 100px;
    }

    .landing,
    .header,
    .best-sales-container,
    .Legume-container,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 50px;
        line-height: 50px;
    }

    .nav-links a {
        font-size: 20px;
    }

    .section-title {
        font-size: 30px;
        text-align: center;
    }

    .Legume-box {
        min-width: 300px;
    }

    .Legume-name,
    .Legume-box::before {
        font-size: 20px;
    }

    .Legume-price {
        font-size: 10px;
    }

}


@media (max-width: 400px) {

    .footer {
        justify-content: center;
    }
}

  
.buttons {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
padding: 2em 0em; 

  }

  
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:  40px 0px;
    width: 240px;
  }
  
  h1 {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
  }
  
  p {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 0 0 2em;
  }
  
  
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 4px solid #000;
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }